.step4 {
  height: calc(100vh - 207px);
}

.container {
  position: relative;
  padding: 1rem 2.7rem;
  padding-right: 1rem;
  font-size: 0.9rem;
  line-height: 1.2rem;
  /* background: #232323; */
  background: var(--decorative-subdued);
  border-radius: 5px;
}

.checkbox {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 25%;
  left: 5%;
  height: 17px;
  width: 17px;
  border: 1px solid var(--essential-subdued);
  border-radius: 3px;
  background-color: var(--background-base);
}

.container:hover input ~ .checkmark {
  border-color: var(--essential-bright-accent);
}

.container input:checked ~ .checkmark {
  background-color: var(--essential-bright-accent);
  border-color: var(--essential-bright-accent);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 8px;
  border: solid var(--background-base);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
