.toggleBtn {
  background-color: var(--essential-subdued);
  border-radius: 99px;
  width: 30px;
  height: 15px;
  transition: background-color 0.3s ease;
  position: relative;
}

.toggleBtn .thumb {
  height: 12px;
  width: 12px;
  background-color: var(--background-base);
  border-radius: 99px;
  transform: translateX(0);
  transition: left 0.15s ease;
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-47%);
}

.toggleBtn.toggled {
  background-color: var(--essential-bright-accent);
}

.toggleBtn:hover {
  border-color: var(--essential-subdued);
}

.toggleBtn.toggled .thumb {
  left: calc(32px - 15px);
}

.formInput {
  background-color: #121212;
  border: 1px solid #727272;
  border-radius: 3px;
  outline: none;
  padding: 0.75rem 1rem;
  margin-bottom: 0.75rem;
  width: 100%;
}

.formInput:hover {
  border-color: #fff;
}

.formInput:focus-within {
  border: 3px solid #fff;
}

.formInput:user-invalid {
  border-color: var(--essential-negative);
}
