.outer {
  background-color: #121212;
  border-radius: 5px;
  width: 350px;
}

.pages {
  display: grid;
  grid-template-rows: 3;
  row-gap: 18px;
  margin: 10px;
  margin-top: 0;
}

.inactive-page {
  display: flex;
  column-gap: 1rem;
  font-size: 1rem;
  padding: 3px 25px;
}

.inactive {
  color: #b3b3b3;
  fill: #b3b3b3;
  font-weight: 600;
}

.active,
.inactive:hover {
  fill: white;
  color: white;
}

.library {
  margin: 10px;
  padding: 20px 10px;
}

.library .lib-bar {
  display: flex;
  justify-content: space-between;

  padding: 0 10px;
   margin-bottom: 30px;
}

.bar-element {
  display: flex;
  column-gap: 1rem;
  cursor: pointer;
}

.create-playlist-button {
  color: black;
  font-weight: 600;
  font-size: 14px;

  background-color: #fff;
  border-radius: 99px;

  padding: 0.25rem 1rem;
  margin-top: 0.75rem
}

.create-playlist-button:hover {
  padding: 0.30rem 1.15rem;
  background-color: #f0f0f0;
}

.sidebar-footer {
  padding: 2rem 10px;
}

.sidebar-footer .policies {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 10px;
  margin-bottom: 2rem;
}

.sidebar-footer button {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #7c7c7c;
  border-radius: 99px;
  padding: 0.25rem 0.75rem;
}

.sidebar-footer button:hover {
  border-color: white;
  padding: 0.35rem 0.85rem;
}