.play {
  position: absolute;
  opacity: 0;
  right: 1em;
  bottom: 37%;
  transition: transform 0.2s ease-out, opacity 0.2s ease, scale 0.1s ease-out;
}

.play:hover {
  scale: 1.1;
}

a:hover .play {
  opacity: 1;
  transform: translateY(-20%);
}