.inputDiv {
  display: grid;
  background-color: var(--background-base);
  grid-template-columns: 10fr 1fr;
  align-items: center;
  border: 1px solid var(--essential-subdued);
  border-radius: 3px;
  height: 50px;
}

.neutral:hover {
  border-color: #fff;
}

.neutral:focus-within {
  border-width: 3px;
  border-color: #fff;
}

.error {
  border-color: var(--essential-negative);
}

.error:focus-within {
  border-width: 3px;
  border-color: var(--essential-negative);
}
