.inputDiv {
  display: grid;
  background-color: var(--background-base);
  grid-template-columns: 10fr 1fr;
  align-items: center;
  border: 1px solid var(--essential-subdued);
  border-radius: 3px;
  height: 50px;
}