.pages-outer {
  display: grid;
  grid-template-rows: 3;
  row-gap: 18px;
  background-color: #121212;
  border-radius: 5px;
  width: 350px;
}

.inactive {
  color: #b3b3b3
}

.active {
  color: white;
}