.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* overflow: hidden; */
}

.nav_left img {
  height: 70px;
}

.nav_mid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 35%;
}

.nav_mid a:first-child svg {
  background: var(--background-highlight);
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 50%;
}

.nav_mid a:first-child svg:hover {
  scale: 1.1;
}

.searchbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 15px;
  border-radius: 999px;
  background: var(--background-highlight);
  border: 0px solid var(--background-tinted-highlight);
  transition: border-width 0.1s ease-out;
}

.searchbar input {
  outline: none;
  background: var(--background-highlight);
  width: 100%;
  padding: 15px;
  border-radius: 999px;
}

.searchbar svg {
  height: 30px;
  width: 30px;
  fill: var(--text-subdued);
}

.searchbar input::placeholder {
  color: var(--text-subdued);
}

.searchbar:hover,
.searchbar:hover * {
  fill: var(--text-base);
  background: var(--background-elevated-highlight);
  cursor: pointer;
}

.searchbar:hover {
  border: 2px solid var(--background-tinted-highlight);
}

.searchbar:focus-within {
  border: 3px solid var(--text-base);
}

.nav_right {
  display: flex;
  padding: 0 10px;
  column-gap: 10px;
}

.nav_right a {
  font-weight: 600;
  color: var(--text-subdued);
  border-radius: 99px;
  padding: 10px 30px;
}

.nav_right a:nth-child(2) {
  background: var(--text-base);
  color: black;
}

.nav_right a:nth-child(2):hover {
  scale: 1.05;
}

.nav_right a:nth-child(1):hover {
  color: var(--text-base);
  scale: 1.05;
}
