.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* overflow: hidden; */
}

.nav_left img {
  height: 70px;
}

.nav_mid {
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 35%;
}

.nav_mid a svg:nth-child(1) {
  background: var(--background-highlight);
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 50%;
}

.nav_mid a svg:nth-child(1):hover {
  scale: 1.1;
}

.searchbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  border-radius: 999px;
  background: var(--background-highlight);
}

.searchbar input::placeholder {
  color: var(--text-subdued);
}

.searchbar:hover, .searchbar:hover * {
  background: var(--background-elevated-highlight);
  cursor: pointer;
}

.searchbar:hover {
  border: 1px solid var(--background-tinted-highlight);
}

.searchbar svg {
  height: 25px;
  width: 25px;
  fill: var(--text-subdued);
}

.searchbar input {
  outline: none;
  background: var(--background-highlight);
  width: 100%;
  padding: 15px 10px;
}

/* .searchbar input:focus-within {
  border: 2px solid var(--text-base);
} */

.nav_right {
  display: flex;
  padding: 0 10px;
  column-gap: 10px;
}

.nav_right a {
  font-weight: 600;
  color: var(--text-subdued);
  border-radius: 99px;
  padding: 10px 30px;
}

.nav_right a:nth-child(2) {
  background: var(--text-base);
  color: black;
}

.nav_right a:nth-child(2):hover {
  scale: 1.05;
}

.nav_right a:nth-child(1):hover {
  color: var(--text-base);
  scale: 1.05;
}
