.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* display: grid;
  grid-template-columns: repeat(3, auto); */
  /* overflow: hidden; */
}

.nav_left img {
  height: 70px;
}

.nav_mid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 35%;
  z-index: 10;
}

@media (max-width: 1150px) {
  .nav_mid {
    position: relative;
    top: auto;
    left: auto;
    transform: translate(0, 0);
    width: 100%;
  }
}

.nav_mid a:first-child svg {
  background: var(--background-highlight);
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 50%;
}

.nav_mid a:first-child svg:hover {
  scale: 1.1;
}

.searchbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 0 15px;
  border-radius: 999px;
  background: var(--background-highlight);
  border: 0px solid var(--background-tinted-highlight);
  transition: border-width 0.1s ease-out;
}

.searchbar input {
  outline: none;
  background: var(--background-highlight);
  width: 100%;
  padding: 15px;
  border-radius: 999px;
}

.searchbar svg {
  height: 30px;
  width: 30px;
  fill: var(--text-subdued);
}

.searchbar input::placeholder {
  color: var(--text-subdued);
}

.searchbar:hover,
.searchbar:hover input[type="text"] {
  fill: var(--text-base);
  background: var(--background-elevated-highlight);
  /* cursor: pointer; */
}

.searchbar:hover {
  border: 2px solid var(--background-tinted-highlight);
}

.searchbar:focus-within {
  border: 3px solid var(--text-base);
}

.nav_right {
  display: flex;
  padding: 0 10px;
  column-gap: 10px;
  align-items: center;
}

.nav_right .signup,
.nav_right .login,
.nav_right .premium,
.nav_right .install_app {
  font-weight: 600;
  color: var(--text-subdued);
  border-radius: 99px;
}

.nav_right .signup {
  padding: 10px 30px;
}

.nav_right .login {
  background: var(--text-base);
  color: black;
  margin-left: 10px;
  padding: 10px 30px;
}

.nav_right .login:hover,
.nav_right .premium:hover,
.nav_right .install_app:hover {
  scale: 1.05;
}

.nav_right .signup:hover {
  color: var(--text-base);
  scale: 1.05;
}

.nav_right .premium,
.nav_right .install_app {
  font-size: 0.9rem;
}

.nav_right .premium {
  background-color: var(--text-base);
  color: var(--background-base);
  padding: 5px 15px;
}

.nav_right .install_app {
  color: var(--text-base);
  padding: 5px 10px;
}

.nav_right .install_app:hover {
  text-decoration: underline;
}

.nav_right .content_feed {
  padding: 5px;
}

.nav_right .content_feed * {
  color: var(--text-subdued);
  scale: 1.1;
}

.nav_right .content_feed:hover * {
  color: var(--text-base);
  scale: 1.15;
}

.nav_right .profile_icon {
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--background-elevated-highlight);
  padding: 7px;
  /* overflow: hidden; */
  width: 50px;
  height: 50px;
  transition: scale 0.1s ease-in;
}

.nav_right .profile_icon:hover {
  scale: 1.05;
}

.nav_right .profile_icon img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.modal {
  position: absolute;
  top: 100%;
  left: calc(100% - 180px);
  background: #282828;
  border-radius: 5px;
  padding: 5px;
  width: 180px;
  z-index: 100;
}

.modal_link {
  padding: 10px 10px;
  width: 100%;
  text-align: left;
  display: block;
}

.modal_link:hover {
  background: #3e3e3e;
}
