.customRadioInput {
  display: none;
}

.customRadioIndicator {
  width: 15px;
  height: 15px;
  border: 1px solid #727272;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  transition: background 0.2s ease;
}

.customRadioIndicator:hover {
  border-color: #1ed760;
}

.customRadioInput:checked + .customRadioIndicator {
  background-color: #1ed760;
  border-color: #1ed760;
}

.customRadioIndicator::after {
  content: "";
  width: 7px;
  height: 7px;
  background: #121212;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; 
  transition: opacity 0.2s ease;
}

.customRadioInput:checked + .customRadioIndicator::after {
  opacity: 1;
}

.neutral {
  background-color: #121212;
  border: 1px solid #727272;
  border-radius: 4px;
  padding: 0.80rem 1rem;
}

.neutral:hover {
  border-color: #fff;
}

.neutral:focus-within {
  border: 2px solid white;
  outline: none;
}

.error,.error:focus-within, .error:hover{
  border-color: #e91429;
}