.hero_bg {
  background-color: #a9b1c7;
  background-image: linear-gradient(to top, #00000088, #00000000);
  padding: 1.25rem;
  padding-top: 4rem;

  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}
